.profile-container-button {
  height: 45px;
  width: 180px;
  border-radius: 0px;
  background: #a96850;
  margin-right: 30px;
  font-size: 12px;
  border: none;
}

.logo {
  width: 100px;
  height: 45px;
}

li.navbar {
  font-size: 11px;
  padding: 10px 20px 10px 20px;
}

.image {
  background-color: #490D40;
  background: url(../../assets//doctor.svg) no-repeat center center;
  background-size: cover;
  height: 700px;
  margin-top: -20px;

  .heading {
    color: #000000;
    text-align: left;
    padding-top: 300px;
    padding-left: 100px;
  }

  .h1 {
    padding-left: 100px;
  }

  p {
    text-align: left;
    padding: 20px 100px;

    .btn {
      background-color: #a96850;
      color: white;
      padding: 10px;

    }
  }

  div {

    text-align: right;
    padding: 80px 35px 0px 0px;
  }

  .icon {
    margin-left: 15px;
  }
}

.foto-doutor {
  margin: 80px 50px 10px 50px;
}
